$main-color: #660708;
$second-color: #0b090a;
$text-color: #f5f3f4;
$alt-color: #ba181b;

header {
  display: flex;
  padding: 20px 40px;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  background-color: $main-color;
  -webkit-box-shadow: 0px 14px 44px -19px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 14px 44px -19px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 14px 44px -19px rgba(0, 0, 0, 0.75);
  .logo {
    font-size: 40px;
    color: $text-color;
    font-family: "Cookie";
  }
}
@media (max-width: 767px) {
  header {
    flex-direction: column;
    justify-content: center;
  }
}
