body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "Cookie";
  src: url("./assets/fonts/Cookie-Regular.ttf");
}

@font-face {
  font-family: "Cafe";
  src: url("./assets/fonts/Cafe\ Francoise_D.otf");
}

@font-face {
  font-family: "helvetica";
  src: url("./assets/fonts/helvetica-neu.ttf");
}
